.SearchResults {
    margin: 20px;
    color: rgb(12, 12, 12);
    font-size: 1.5rem;
    
  }
  
  h2 {
    background-color: rgb(218, 186, 219);
    padding: 0.5rem;
    border-top-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
  }