.App {
  text-align: center;
  margin-top: 0;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: background-image 0.5s ease-in-out; /* Smooth transition */
}

.Loading {
  background-image: url('../../util/images/music.jpg');
  background-size: cover;
}

.ImageLoaded {
  background-position: center;
}

.AppPlaylist {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  height: 100%;
}

html, body, body > div, .app {
  height: 100%;
}

h1 {
  padding: 1rem;
  background-color: black;
  color: white;
  font-size: 3.5rem;
  letter-spacing: 0.8rem;
}

span, #mcolor {
  color: rgb(228, 25, 160);
  font-size: 4rem;
}



